<html>
<head>
    <title>MEN Stack Demo</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!--Bootstrap: https://bootswatch.com/litera/-->
    <link rel="stylesheet" href="./styles/litera.min.css">
    <link rel="stylesheet" href="./styles/custom.css">
</head>
<body>

